:root {
  --ifm-color-primary: #0971f1;
  --ifm-color-primary-dark: #0866d9;
  --ifm-color-primary-darker: #0860cd;
  --ifm-color-primary-darkest: #064fa9;
  --ifm-color-primary-light: #1c7ef7;
  --ifm-color-primary-lighter: #2985f7;
  --ifm-color-primary-lightest: #4d9af8;
}
