name: deploy
on:
  push:
    branches: [master]
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: yarn_cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn_cache.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: yarn-
      - run: yarn
      - name: Release to GitHub Pages
        env:
          GIT_USER: "${GITHUB_ACTOR}:${{ github.token }}"
          DEPLOYMENT_BRANCH: gh-pages
        run: |
          git config --global user.email bot@example
          git config --global user.name bot
          yarn deploy
